@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-dark: #0a0f1c;
  --color-gold: #cfb53b;
}

body {
  background-color: var(--color-bg-dark);
  color: #fff;
}

.text-gradient-gold {
  background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shine 5s linear infinite;
  background-size: 200%;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: 200% center;
  }
}